/node_modules/
/dist/
/.vscode/
/*-content.zip/ 
fitbit_app-content.zip

# auto generated wildcard
final_work/final-work-approuter/.env
# auto generated wildcard
final_work/.env
# auto generated wildcard
final_work/fitbit_authorizer/.env
# auto generated wildcard
final_work/fitbit_app/.env1